{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="text-center mb-4">
            <a href="{{ path('app_calendar_new') }}" class="btn btn-primary">Ajouter un évènement</a>
            <a href="{{ path('app_calendar_index') }}" class="btn btn-secondary">Voir la liste</a>
        </div>

        <div id="calendrier" class="bg-light p-4 rounded mb-4"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier");

            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'dayGridWeek',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },
                events: {{ data|raw }},
                eventResizableFromStart: true,
                eventClick: function(info) {
                    let eventId = info.event.id;
                    let url = "{{ path('app_calendar_show', {'id': 'eventId'}) }}".replace('eventId', eventId);
                    window.location.href = url;
                }
            });

            calendar.render();
        }
    </script>
{% endblock %}
